@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.black-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #161623;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 400;
}
.black-theme:before {
  position: absolute;
  content: "";
  left: 40%;
  bottom: -40%;
  width: 600px;
  height: 600px;
  background: linear-gradient(#FF5722, #FF9800);
  border-radius: 50%;
}
.black-theme .card {
  width: 350px;
  height: 500px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  overflow: hidden;
}
.black-theme .card_chat {
  width: 650px;
  height: 750px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  overflow: hidden;
}
.black-theme .card .card__top {
  height: 155px;
  position: relative;
}

.black-theme .card .card__top__chat {
  height: 20px;
  position: relative;
}
.black-theme .card .card__top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.black-theme .card .card__top .profile__photo {
  width: 130px;
  height: 130px;
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translatex(-50%);
}
.black-theme .card .card__top .profile__photo {
  width: 130px;
  height: 130px;
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translate(-50px, -60px);
  transform: translatex(-50%);
}
.black-theme .card .card__top .profile__photo__chat {
  width: 130px;
  height: 130px;
  position: absolute;
 
  left: 50%;
  transform: translate(160px, 140px);
 
}



.black-theme .card .card__top .profile__photo img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  border: 7px solid rgba(0, 0, 0, 0.35);
}
.black-theme .card .card__content {
  text-align: center;
  color: #fff;
  padding: 5em 2.5em;
}
.card__content__chat .chatbox frame{
border-radius: 20px;
  }
.black-theme .card .card__content__chat {
  text-align: center;
  color: #fff;
  padding: 2px;
}
.black-theme .card .card__content h2 {
  font-weight: 700;
  font-size: 24px;
}
.black-theme .card .card__content h3 {
  font-weight: 400;
  margin: 5px 0 30px;
  font-size: 16px;
}
.black-theme .card .card__content p {
  text-align: left;
}
.black-theme .card .card__content p span {
  margin-right: 10px;
}
.black-theme .card .card__content p a {
  text-decoration: none;
  color: #fff;
}
.black-theme .card .card__content p a:hover {
  text-decoration: underline;
}
.black-theme .card .card__content p + p {
  margin-top: 10px;
}
.black-theme .card a.button {
  text-decoration: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.85);
  padding: 9px 30px 10px 30px;
  display: inline-block;
  margin-top: 2em;
}
.black-theme .card a.button:hover {
  background: rgba(0, 0, 0, 0.7);
}
/*/////*/
.black-theme .card .card__content p button {
  text-decoration: none;
  color: #fff;
}
.black-theme .card .card__content p button:hover {
  text-decoration: underline;
}
.black-theme .card .card__content p + p {
  margin-top: 10px;
}
.black-theme .card button.button {
  text-decoration: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.85);
  padding: 9px 30px 10px 30px;
  display: inline-block;
  margin-top: 2em;
}
.black-theme .card button.button:hover {
  background: rgba(0, 0, 0, 0.7);
}


.white-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3fe2f2;
  background-image: linear-gradient(135deg, #3fe2f2 0%, #43dbc0 16%, #29b7f2 49%, #3cabe8 86%);
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 400;
}
.white-theme:before {
  position: absolute;
  content: "";
  left: 40%;
  bottom: -40%;
  width: 600px;
  height: 600px;
  background: linear-gradient(135deg, #3fe2f2 0%, #43dbc0 24%, #3cabe8 91%);
  border-radius: 50%;
}
.white-theme .card {
  width: 350px;
  height: 500px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  overflow: hidden;
}
.white-theme .card_chat {
  width: 650px;
  height: 750px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  overflow: hidden;
}
.white-theme .card .card__top {
  height: 155px;
  position: relative;
}
.white-theme .card .card__top__chat {
  height: 20px;
  position: relative;
}
.white-theme .card .card__top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.white-theme .card .card__top .profile__photo {
  width: 130px;
  height: 130px;
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translatex(-50%);
}
.white-theme .card .card__top .profile__photo__chat {
  width: 130px;
  height: 130px;
  position: absolute;
  left: 50%;
  transform: translate(160px, 140px);
  
}
.white-theme .card .card__top .profile__photo img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  border: 8px solid rgba(255, 255, 255, 0.55);
}
.white-theme .card .card__content {
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
  padding: 5em 2.5em;
}
.white-theme .card .card__content__chat {
  text-align: center;
  color:  rgba(0, 0, 0, 0.85);;
  padding: 2px;
}
.white-theme .card .card__content h2 {
  font-weight: 700;
  font-size: 24px;
}
.white-theme .card .card__content h3 {
  font-weight: 400;
  margin: 5px 0 30px;
  font-size: 16px;
}
.white-theme .card .card__content p {
  text-align: left;
}
.white-theme .card .card__content p span {
  margin-right: 10px;
}
.white-theme .card .card__content p a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
}
.white-theme .card .card__content p a:hover {
  text-decoration: underline;
}
.white-theme .card .card__content p + p {
  margin-top: 10px;
}
.white-theme .card a.button {
  text-decoration: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.85);
  padding: 9px 30px 10px 30px;
  display: inline-block;
  margin-top: 2em;
}
.white-theme .card button.button:hover {
  background: rgba(0, 0, 0, 0.7);
}
/*//////??*/
.white-theme .card .card__content p button {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
}
.white-theme .card .card__content p button:hover {
  text-decoration: underline;
}

.white-theme .card button.button {
  text-decoration: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.85);
  padding: 9px 30px 10px 30px;
  display: inline-block;
  margin-top: 2em;
}
.white-theme .card button.button:hover {
  background: rgba(0, 0, 0, 0.7);
}

#switch {
  position: absolute;
  top: 35px;
  right: 35px;
  background: #fff;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#switch:hover i {
  animation: rotation 1.5s linear forwards infinite;
}
#switch i {
  font-size: 1.5rem;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
.chatbot{

  width: 130px;
  height: 130px;
  position: absolute;
  left: 50%;
	transform: translate(103px, 75px);
}


/* ================================= */


.frame{
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.container #chatbot {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 150px;
  height: 85px;
  border: 12px solid #3D3E45;
  border-radius: 5rem;
}
.container #chatbot-corner {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  top: 105px;
  left: -65px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 25px solid #3D3E45;
  transform: rotate(140deg);
}
.container #antenna {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  top: -125px;
  height: 20px;
  width: 10px;
  background-color: #3D3E45;
  animation: antenna-appear 7.5s infinite ease-in-out;
}
.container #antenna #beam {
  position: absolute;
  top: -12.5px;
  left: -5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #3D3E45;
  animation: beam-appear 7.5s infinite ease-in-out;
}
.container #antenna #beam-pulsar {
  position: absolute;
  top: -12.5px;
  left: -5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #3D3E45;
  animation: beam-pulsar-appear 7.5s infinite ease-in-out;
}
.container .dot {
  height: 17.5px;
  width: 17.5px;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  left: -65px;
  background-color: #3D3E45;
  border-radius: 50%;
  animation: pulse-outer 7.5s infinite ease-in-out;
}
.container .dot:nth-child(2) {
  left: 0;
  animation: pulse-inner 7.5s infinite ease-in-out;
  animation-delay: 0.2s;
}
.container .dot:nth-child(3) {
  left: 65px;
  animation: pulse-outer 7.5s infinite ease-in-out;
  animation-delay: 0.4s;
}
@keyframes pulse-inner {
  0% {
    transform: scale(1);
  }
  7.5% {
    transform: scale(1.5);
  }
  15% {
    transform: scale(1);
  }
  22.5% {
    transform: scale(1.5);
  }
  30% {
    transform: scale(1);
  }
  37.5% {
    transform: scale(1.5);
  }
  45% {
    top: 0;
    transform: scale(1);
    height: 17.5px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: rotate(-370deg);
  }
  50% {
    top: 22.5px;
    height: 10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    transform: rotate(10deg);
  }
  55% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  65% {
    transform: rotate(-10deg);
  }
  65% {
    transform: rotate(0deg);
  }
  85% {
    top: 22.5px;
    height: 10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    transform: rotate(0deg);
  }
  92.5% {
    top: 22.5px;
    height: 10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    height: 17.5px;
    border-radius: 50%;
    transform: rotate(-360deg);
  }
}
@keyframes pulse-outer {
  0% {
    transform: scale(1);
  }
  7.5% {
    transform: scale(1.5);
  }
  15% {
    transform: scale(1);
  }
  22.5% {
    transform: scale(1.5);
  }
  30% {
    transform: scale(1);
  }
  37.5% {
    transform: scale(1.5);
  }
  45% {
    transform: scale(1);
    height: 17.5px;
  }
  55% {
    tranform: scale(1);
    height: 5px;
  }
  60% {
    height: 17.5px;
  }
  75% {
    height: 17.5px;
  }
  80% {
    tranform: scale(1);
    height: 5px;
  }
  85% {
    height: 17.5px;
  }
  100% {
    height: 17.5px;
  }
}
@keyframes antenna-appear {
  0% {
    visibility: hidden;
    top: -100px;
    height: 0;
  }
  50% {
    visibility: hidden;
    top: -100px;
    height: 0;
  }
  55% {
    visibility: visible;
    top: -125px;
    height: 20px;
  }
  95% {
    visibility: visible;
    top: -125px;
    height: 20px;
  }
  100% {
    top: -100px;
    height: 0;
  }
}
@keyframes beam-appear {
  0% {
    visibility: hidden;
    top: -12.5px;
    height: 0;
  }
  50% {
    visibility: hidden;
    top: -12.5px;
    height: 0;
  }
  55% {
    visibility: visible;
    top: -12.5px;
    height: 20px;
    width: 20px;
  }
  100% {
    visibility: visible;
    top: -12.5px;
    height: 20px;
    width: 20px;
  }
}
@keyframes beam-pulsar-appear {
  0% {
    visibility: hidden;
    top: -12.5px;
    height: 0;
  }
  50% {
    visibility: hidden;
    top: -12.5px;
    height: 0;
  }
  55% {
    visibility: visible;
    top: -12.5px;
    left: -5px;
    height: 20px;
    width: 20px;
    opacity: 1;
  }
  65% {
    top: -25px;
    left: -15px;
    height: 40px;
    width: 40px;
    opacity: 0;
    visibility: visible;
  }
  74% {
    visibility: hidden;
    opacity: 0;
  }
  75% {
    visibility: visible;
    top: -12.5px;
    left: -5px;
    height: 20px;
    width: 20px;
    opacity: 1;
  }
  85% {
    top: -25px;
    left: -15px;
    height: 40px;
    width: 40px;
    opacity: 0;
    visibility: visible;
  }
  94% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes up-down {
  0% {
    transform: translate(0);
  }
  12.5% {
    transform: translate(0, 2%);
  }
  25% {
    transform: translate(0);
  }
  37.5% {
    transform: translate(0, 2%);
  }
  50% {
    transform: translate(0);
  }
  62.5% {
    transform: translate(0, 2%);
  }
  75% {
    transform: translate(0);
  }
  87.5% {
    transform: translate(0, 2%);
  }
  100% {
    transform: translate(0);
  }
}